# --- Backend ---
fastapi
uvicorn

# --- Frontend ---
streamlit

# --- Data & Visualization ---
pandas
matplotlib
plotly

# --- NLP ---
spacy
nltk
textblob
vaderSentiment

# --- Web Scraping ---
requests
beautifulsoup4
newspaper3k

# --- ML / AI ---
transformers
torch
scikit-learn
joblib

# --- Utilities (recommended) ---
python-multipart


# make sure you run this => python -m spacy download en_core_web_sm
